<link rel="stylesheet" href="/stylesheets/dashboard.css">
<main class="h-100">
	<div class="container-fluid h-100">
		<div class="row h-100">
			<div id="navbarResponsive" class="dashboard-controls col-md-2 col-lg-2 collapse navbar-toggleable-sm">
				<div class="container-fluid">
						<div class="row dash-controls-title text-xs-center">
							<div class="col-sm-3 col-md-12">
								<p>{{ collection.name }}</p>
							</div>
						</div>
						<div class="row">
							<a class=nav-link href="/dashboard/">
								<div class="dashboard-control col-sm-12">
									<i class="fa fa-home fa-lg" aria-hidden="true"> </i> Home
								</div>
							</a>

								<a class=nav-link href="/dashboard/collections">
									<div class="dashboard-control col-sm-12">
										<i class="fa fa-th fa-lg" aria-hidden="true"></i> Inventory
									</div>
								</a>

							</div>

							{{!--Start of settings and help row--}}
							<div class="row dash-control-settings">
									<a class=nav-link href="/dashboard/settings">
										<div class="dashboard-control col-sm-3 offset-sm-3 offset-md-0 col-md-12">
											<i class="fa fa-gear fa-lg" aria-hidden="true"> </i> Settings
										</div>
									</a>
							</div>
							{{!--End of settings row--}}

						</div>
					</div>
			<div class="h-100 dashboard-view col-md-10">
				<div class="container">
          <div class="row collection-page-header">
            <div class="col-xs-8 col-md-9 col-lg-10">
              <span class="collection-title"> {{ collection.name }}</span>
            </div>
            <div class="col-xs-4 col-md-3 col-lg-2">
              <span class="hidden-xs-down" >Items: {{ collection.item_count}} </span>
							<a class="collection-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-ellipsis-v fa-lg " aria-hidden="true"></i>
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" data-toggle="modal" data-target="#rename-collection-modal" href="#">Edit</a>
								<div class="dropdown-divider"></div>
								<a class="text-danger dropdown-item" data-toggle="modal" data-target="#delete-collection-modal" href="#">Delete</a>
							</div>
            </div>
          </div>
          <hr>
					<div class="row">
						{{#each items}}
						<div class="col-sm-6 col-lg-3 col-md-4">
							<div class="card item-card">
								<img class="card-img-top card-img" src="{{ this.image_url}}" alt="Collection thumbnail">
								<div class="card-block">
									<h5 class="card-text">{{this.name}}</h5>
									<p class="card-text small">{{this.description}}</p>
								</div>
								<div class="card-footer text-muted">
									 <span class="small" >Rating: {{ this.rating }}</span>
								</div>
							</div>
						</div>
						{{/each}}
					</div>
					<div class="row">
						<div class="col-lg-1 offset-lg-10">
							<a class="new-collection" data-toggle="modal" data-target="#add-item-modal" href="#">
								<i class="fa fa-plus fa-2x" aria-hidden="true"></i>
							</a>
							<div class="modal fade" id="add-item-modal">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											<h4 class="modal-title">New Item</h4>
										</div>
										<div class="modal-body">
											<form id="new-item-form" action="/items/add/{{collection.id}}" method="POST" >
												<div class="form-group">
													<label for="image_url">Item Image</label>
													<img style="height: 100px; width: 100px;" id="preview" src="/images/defaults/items.png">
													<input type="file" class="form-control-file" name="image_url" id="image_url" aria-describedby="fileHelp">
													<input type="hidden" name="s3_image_url" id="s3_image_url" value="/images/defaults/items.png">
												</div>

												<script>
															(() => {
															document.getElementById("image_url").onchange = () => {
																const files = document.getElementById('image_url').files;
																const file = files[0];
																console.log('file:', file);
																if(file == null){
																	return alert('No file selected.');
																}
																getSignedRequest(file);
															};
														})();

														function getSignedRequest(file){
															console.log('getting signed request')
															const xhr = new XMLHttpRequest();
															xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}`);
															xhr.onreadystatechange = () => {
																if(xhr.readyState === 4){
																	if(xhr.status === 200){
																		const response = JSON.parse(xhr.responseText);
																		console.log('response:', response)
																		uploadFile(file, response.signedRequest, response.url);
																	}
																	else{
																		alert('Could not get signed URL.');
																	}
																}
															};
															xhr.send();
														}

														function uploadFile(file, signedRequest, url){
															const xhr = new XMLHttpRequest();
															xhr.open('PUT', signedRequest);
															xhr.onreadystatechange = () => {
																if(xhr.readyState === 4){
																	if(xhr.status === 200){
																		console.log(url)
																		document.getElementById('preview').src = url;
																		document.getElementById('s3_image_url').value = url;
																	}
																	else{
																		alert('Could not upload file.');
																	}
																}
															};
															xhr.send(file);
														}
														</script>




                        <div class="form-group">
													<label for="name">Name</label>
													<input class="form-control" type="text" name="name" placeholder="Item name">
												</div>
                        <div class="form-group">
													<label for="brand">Brand</label>
													<input class="form-control" type="text" name="brand" placeholder="Nike">
												</div>
												<div class="form-group">
													<label for="description">Description</label>
													<textarea class="form-control" name="description" placeholder="Conditions, price, or anything else"></textarea>
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
											<button type="submit" form="new-item-form" class="btn btn-primary">Add</button>
										</div>
									</div><!-- /.modal-content -->
								</div><!-- /.modal-dialog -->
							</div><!-- /.modal -->

					</div>
				</div>
			</div>

		</div>
				</div>


	</div>
</main>

<div class="modal fade" id="delete-collection-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Are you sure?</h4>
			</div>
			<div class="modal-body">
				<form id="delete-collection-form" action="/dashboard/collection/delete/{{collection.id}}" method="POST">
					<div class="form-group">
						<label for="name">Type the name of the collection to delete</label>
						<input class="form-control" type="text" name="name">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="submit" form="delete-collection-form" class="btn btn-danger">Delete</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="rename-collection-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Edit</h4>
			</div>
			<div class="modal-body">
				<form id="rename-collection-form" action="/dashboard/collection/rename/{{collection.id}}" method="POST">
					<div class="form-group">
						<label for="name">Enter a new name</label>
						<input class="form-control" type="text" name="name" value="{{collection.name}}" >
					</div>
					<div class="form-group">
						<label for="description">Description</label>
						<textarea class="form-control" name="description" placeholder="A little about this collection...">{{collection.description}}</textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="submit" form="rename-collection-form" class="btn btn-success">Update</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

