<link rel="stylesheet" href="/stylesheets/dashboard.css">
<main class="h-100">
	<div class="container-fluid h-100">
		<div class="row h-100">
			<div id="navbarResponsive" class="dashboard-controls col-md-2 col-lg-2 collapse navbar-toggleable-sm">
				<div class="container-fluid">
						<div class="row">
							<div class="dashboard-control col-sm-3 col-md-12">
							<a class=nav-link href="/dashboard/">
								<i class="fa fa-tachometer fa-lg" aria-hidden="true"></i> Dashboard
							</a>
							</div>

							<div class="dashboard-control col-sm-3 col-md-12">
								<a class=nav-link href="/dashboard/collections"><i class="fa fa-th-large fa-lg" aria-hidden="true"></i> Inventory</a>
							</div>

							<div class="dashboard-control col-sm-3 offset-sm-3 offset-md-0 col-md-12">
								<a class=nav-link href="/dashboard/settings"><i class="fa fa-gear fa-lg" aria-hidden="true"></i> Settings</a>
							</div>

						</div>
					</div>
				</div>
			<div class="h-100 dashboard-view col-md-10">
				<div class="container">
					<div class="row">
						{{#each collections}}
						<div class="col-sm-6 col-lg-4 col-md-5">
							<a href="/dashboard/collection/{{this.id}}">
								<div class="card collection-card">
									<img class="card-img-top card-img" src="{{ this.thumbnail_url }}" alt="Collection thumbnail">
									<div class="card-block">
										<a href="/dashboard/collection/{{this.id}}">{{this.name}}</a>
										<p class="card-text small">{{this.description}}</p>
									</div>
									<div class="card-footer">
										<span >Items: {{ this.item_count }}</span>
										<a href=""><i class="fa fa-ellipsis-v fa-lg text-xs-right" aria-hidden="true"></i></a>
									</div>
								</div>
							</a>
						</div>
						{{/each}}
					</div>
					<div class="row">
						<div class="col-lg-1 offset-lg-10">
							<a class="new-collection" data-toggle="modal" data-target="#add-collection-modal" href="#">
								<i class="fa fa-plus fa-2x" aria-hidden="true"></i>
							</a>
							<div class="modal fade" id="add-collection-modal">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											<h4 class="modal-title">New Collection</h4>
										</div>
										<div class="modal-body">
											<form id="new-collection-form" action="/dashboard/collection/new" method="POST" enctype="multipart/form-data">
												<div class="form-group">
													<div class="row">
														<div class="col-lg-9">
															<label for="thumbnail">Collection Thumbnail</label>
															<input type="file" class="form-control-file" name="thumbnail" id="thumbnail" aria-describedby="fileHelp">
															<small id="fileHelp" class="form-text text-muted">This will be used for your dashboard.</small>
														</div>

														<div class="col-lg-3">
															<label for="visible">Visibility</label>
															<select class="form-control" id="visible">
																<option>Public</option>
																<option>Friends</option>
																<option>Just You</option>
															</select>
														</div>
													</div>
													
												</div>
												<div class="form-group">
													<label for="name">Name</label>
													<input class="form-control" type="text" name="name" placeholder="Give your collection a name...">
												</div>
												<div class="form-group">
													<label for="description">Description</label>
													<textarea class="form-control" name="description" placeholder="ex. Christmast decorations in the basement."></textarea>
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
											<button type="submit" form="new-collection-form" class="btn btn-primary">Start Collection</button>
										</div>
									</div><!-- /.modal-content -->
								</div><!-- /.modal-dialog -->
							</div><!-- /.modal -->

					</div>
				</div>
			</div>

		</div>


	</div>
</main>
