<h1>Welcome {{user.first_name}} {{user.last_name}}</h1>
<img src="{{user.photo_url}}" alt="user photo" />
<h3>{{user.email}}</h3>
<h3>Add a Bio</h3>
<form class="" action="signup/{{user.id}}/" method="post">
	<textarea name="bio" rows="8" cols="40" placeholder="Let people know a little about yourself..."></textarea>
	<button type="submit" name="submit">Continue</button>
</form>
<a href="/profile">Skip</a>
